html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    /* justify-content:center; */
}

*{
    font-family: 'Roboto', sans-serif;
}

/* left side */
.leftContainer{
    justify-items: right;
    width: 50vw;
    height: 100vh;
}

.leftTextContainer{
    padding-left: 4vw;
    padding-right: 6vw;
    padding-top: 5vh;
    font-size: 20px;
}

#username, #password{
    border: none;
    font-size: 25px;
    width: 100%;
    padding:10px;
}

.inputContainer{
    border-bottom: 2px solid grey;
}

.checkboxContainer{
    margin-top: 40px;
}

#checkboxLabel{
    font-size: 18px;
}

#forgotPasswordText{
    font-size: 18px;
    padding: 0;
    margin: 0;
    float: right;
}

#loginBtn{
    margin-top: 40px;
    background-color: rgb(64, 64, 255);
    color: white;
    border:none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(64, 64, 255, 0.5), 0 6px 20px 0 rgba(64, 64, 255, 0.3);
}

.loginOptionsContainer{
    /* border: 2px solid black; */
    margin-top: 70px;
}

.loginTextSocial{
    /* border: 2px solid red; */
    display: inline;
}

.loginBtnSocial{
    float: right;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin-right: 10px;
    color: white;
}

.fBtn{
    background-color: #1675eb;
}

.tBtn{
    background-color: lightskyblue;
}

.gBtn{
    background-color: #d74937;
}

/* right side */
.rightContainer{
    width: 50vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #c596ca, #e9853e);
    text-align: center;
}

#rightTitle{
    padding-top: 20vh;
    font-size: 60px;
    color: white;
    font-weight: 100;
}

.divider{
    border: 1px solid white;
    width: 50px;
    margin: 0 auto;
}

#rightText{
    padding: 0 5vw;
    font-size: 30px;
    color: white;
}